profiles {
  conda {
    process.conda = 'LASSO_DNAm.yaml'
  }

  docker {
    process.container = 'r-base'
    docker.enabled = true
  }

  singularity {
    process.container = "oras://community.wave.seqera.io/library/r-base_r-bigstatsr_r-doparallel_r-dplyr_pruned:b7e5d758c5e09107"
    singularity.enabled = true
  }
}